/* your styles go here */
a {
    color: #4fbfa8;
}

.btn-primary {
    background-color: #4fbfa8;
    border: none;
}

.product-color {
    height: 25px;
    width: 25px;
    border: 1px solid rgba(142, 154, 158, 0.19);
    border-radius: 2px;
    margin-left: 5px;
}

.selected {
    border: 2px solid rgba(0, 0, 0, 0.28);
}

.product .img-fluid {
    margin-top: 15px;
    margin-bottom: 15px;
}

.product-image, .product .front {
    display: flex;
    justify-content: center;
}

.buttons .add-to-cart {
    margin-left: 25px;
}

.price {
    font-weight: 700;
}

.product-size-link {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    border: 1px solid #8e9a9e;
    border-radius: 2px;
    padding: 2px;
    text-align: center;
    vertical-align: center;

}
